*.Rdata filter=lfs diff=lfs merge=lfs -text
*.bed filter=lfs diff=lfs merge=lfs -text
*.bim filter=lfs diff=lfs merge=lfs -text
*.fam filter=lfs diff=lfs merge=lfs -text
inst/extdata/Individuals_in_1000Genomes_Global_Test.bim filter=lfs diff=lfs merge=lfs -text
inst/extdata/Individuals_in_1000Genomes_Global_Test.bed filter=lfs diff=lfs merge=lfs -text
inst/extdata/Individuals_in_1000Genomes_Global_Model.bed filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
/DESCRIPTION filter=lfs diff=lfs merge=lfs -text
/NAMESPACE filter=lfs diff=lfs merge=lfs -text
/NEWS filter=lfs diff=lfs merge=lfs -text
*.r filter=lfs diff=lfs merge=lfs -text
*.RData filter=lfs diff=lfs merge=lfs -text
/inst/CITATION filter=lfs diff=lfs merge=lfs -text
*.Rnw filter=lfs diff=lfs merge=lfs -text

*.Rhistory filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.txtFALSE	FALSETRUE filter=lfs diff=lfs merge=lfs -text
*.Rd filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/src/Makevars filter=lfs diff=lfs merge=lfs -text
*.bib filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
